<!-- C:\ProgramData\C4B\ApiConfig -->
<configuration>
	<zammad Logging="Off"
		BaseUrl="http://172.16.112.50"
		BaseAPIUrl="http://172.16.112.50/api/v1"
		BearerToken="4NQMVwuMQmsRvC0EBHmzIcQZQhfyv1gKZhgn2dBcC8JhNXgGr_XFrCrYGRv7Cm5i" 
  ></zammad>
	<zendesk Logging="Off"
		BaseUrl="https://c4b.zendesk.com"
    BaseAPIUrl="https://c4b.zendesk.com/api/v2"
    BearerToken="7bdb406ca0fedeb82d41a884bd85fdc9325776b2deb81ad08bcf8d4f54a27ded" 
  ></zendesk>
  <presence Logging="Off"
    Authorization="none"
    BaseUrl="http://10.1.1.54/XPhoneConnect/PresenceApi"
    BaseAPIUrl="http://10.1.1.54/XPhoneConnect/PresenceApi/api/presence"
  ></presence>
  <powershell Logging="On"
    Authorization="none"
  ></powershell>
  <anybell Logging="On"
    Authorization="jwt"
  ></anybell>
  <callrouting Logging="On"
    Authorization="jwt"
  ></callrouting>
  <odbc Logging="Off"
    Authorization="none"
  >
    <xe
      uid="SYSTEM"
      pwd="XPhone"
    ></xe>
    <xphone
      uid=""
      pwd=""
    ></xphone>
    <v9server
      uid=""
      pwd=""
    ></v9server>
  </odbc>
  <authorization Logging="On"
    VerifyAccessUrl="https://sbc.subfifty.net/XPhoneConnect/ContactApi/Vdir/Verify"
    BearerToken="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2ODk2MTExMjYsIklkZW50aXR5VG9rZW4iOiIxMDA3MDkyMjMxIiwiVXNlckd1aWQiOiJmYTI4ZjdjYi0wYTdjLTQxNGUtODVjYS00NjdjN2QwOTA1MWEiLCJGdWxsTmFtZSI6IjU1NSBUZXN0IiwiVXNlck5hbWUiOiJ0ZXN0QHY5LnN1YmZpZnR5LmRlIn0.a_U-Wz_ZsExJovoyncMTWJmXGSoCaC8nJjayIB-n7Rg" 
    Authorization="jwt"
  ></authorization>
</configuration>
