<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\XPhoneRestApi.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />

      <!--
      <cors enabled="true" failUnlistedOrigins="false">
      <add origin="http://*" allowed="true">
      </add>
      <add origin="https://*" allowed="true">
      </add>
      <add origin="http://localhost:4200" allowed="true">
      <add origin="https://happy-bay-00c6e3b03.3.azurestaticapps.net" allowed="true">
        <add origin="*" allowed="true">
        </add>

      </cors>
-->

      <httpProtocol>
        <customHeaders>
          <remove name="Strict-Transport-Security" />
          <remove name="X-Frame-Options" />
          <remove name="X-UA-Compatible" />
          <add name="access-control-allow-headers" value="authorization, refresh-token, clientsecret, accept, content-type" />
          <!-- add name="Access-Control-Allow-Origin" value="https://happy-bay-00c6e3b03.3.azurestaticapps.net" / -->
          <!-- add name="access-control-allow-methods" value="GET" / -->
          <!-- add name="Strict-Transport-Security" value="max-age=31536000" / -->
          <!-- add name="X-Frame-Options" value="SAMEORIGIN" / -->
          <!-- add name="X-UA-Compatible" value="IE=edge" / -->
        </customHeaders>
      </httpProtocol>

    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 852b6f6f-a948-4442-a182-6f56df0f1b21-->