<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>

    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp"
                 openTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 receiveTimeout="01:00:00"
                 maxBufferPoolSize="2147483647">
          <security mode="None">
          </security>
        </binding>
      </basicHttpBinding>

      <webHttpBinding>
        <binding name="webHttp"
                 openTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 receiveTimeout="01:00:00"
                 maxBufferPoolSize="2147483647">
          <security mode="None">
          </security>
        </binding>
      </webHttpBinding>

      <netTcpBinding>
        <binding name="IntegrationBindingUnsecure">
          <security mode="None" />
        </binding>
        <binding name="IntegrationBindingSecure">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <client>
      <endpoint
          name="C4B.Atlas.Integration.IntegrationClientServiceSecure"
          address="net.tcp://localhost:3344/IntegrationEndpointSecure"
          binding="netTcpBinding"
          bindingConfiguration="IntegrationBindingSecure"
          contract="C4B.Atlas.Integration.IIntegrationClientContract" />
      <endpoint
          name="C4B.Atlas.Integration.IntegrationClientServiceDefault"
          address="net.tcp://localhost:3344/IntegrationEndpoint"
          binding="netTcpBinding"
          contract="C4B.Atlas.Integration.IIntegrationClientContract" />
      <endpoint
          name="C4B.Atlas.Integration.IntegrationClientServiceDefaultUnsecure"
          address="net.tcp://localhost:3344/IntegrationEndpoint"
          binding="netTcpBinding"
          bindingConfiguration="IntegrationBindingUnsecure"
          contract="C4B.Atlas.Integration.IIntegrationClientContract" />
      <endpoint
          name="C4B.Atlas.Integration.IntegrationClientServiceSecure"
          address="net.tcp://localhost:3344/IntegrationEndpointV2Secure"
          binding="netTcpBinding"
          bindingConfiguration="IntegrationBindingSecure"
          contract="C4B.Atlas.Integration.IIntegrationClientContract_v2" />
      <endpoint
          name="C4B.Atlas.Integration.IntegrationClientServiceDefault"
          address="net.tcp://localhost:3344/IntegrationEndpointV2"
          binding="netTcpBinding"
          contract="C4B.Atlas.Integration.IIntegrationClientContract_v2" />
      <endpoint
          name="C4B.Atlas.Integration.IntegrationClientServiceDefaultUnsecure"
          address="net.tcp://localhost:3344/IntegrationEndpointV2"
          binding="netTcpBinding"
          bindingConfiguration="IntegrationBindingUnsecure"
          contract="C4B.Atlas.Integration.IIntegrationClientContract_v2" />
    </client>

    <services>
      <service name="IntegrationRESTTestServer.Service">
        <endpoint
          address ="rest"
          binding="webHttpBinding"
          bindingConfiguration="webHttp"
          contract="IntegrationRESTTestServer.IService"
          behaviorConfiguration="web" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:4455" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>